# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javajiaoben\junit5demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
